#import paths
<library>
    #def recursion($root)
        #for $element in $root.children
            #if $element.typeName == 'Namespace'
                <template path="templates/__init__.py.tmpl" output="$paths.getPath($element)" root="$element.fqn"/>
                
                $recursion($element)
            #elif $element.typeName == 'Interface'
                <template path="templates/interface.py.tmpl" output="$paths.getPath($element)" root="$element.fqn"/>
            #elif $element.typeName == 'Exception'
                <template path="templates/exception.py.tmpl" output="$paths.getPath($element)" root="$element.fqn"/>
            #end if
        #end for
    #end def
    
    $recursion($root)
    
    <file path="implementation/__init__.py" output="org/umlfri/api/implementation/__init__.py"/>
    <file path="implementation/message.py" output="org/umlfri/api/implementation/message.py"/>
    <file path="implementation/advProperty.py" output="org/umlfri/api/implementation/advProperty.py"/>
</library>
