<library>
    <file path="org/__init__.py" output="org/__init__.py" />
    <file path="org/umlfri/__init__.py" output="org/umlfri/__init__.py" />
    <file path="org/umlfri/api/__init__.py" output="org/umlfri/api/__init__.py" />
    <file path="org/umlfri/api/base/__init__.py" output="org/umlfri/api/base/__init__.py" />
</library>
