#import paths
<library>
    #def recursion($root)
        <template path="org/umlfri/api/__init__.py.tmpl" output="$paths.getPath($root)/__init__.py" root="$root.fqn"/>
        
        #for $element in $root.childrenOfType('Namespace')
            $recursion($element)
        #end for
    #end def
    
    #for $element in $root.childrenOfType('Namespace')
        $recursion($element)
    #end for
</library>
